@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900');
:root{
    --corBase: hsl(353, 86%, 54%);
    --corBase2: hsl(342, 76%, 65%);
    --corBase3: hsl(25, 100%, 66%);
    --corFundoRodape: hsl(333, 96%, 18%);
    --preto: hsl(0, 0%, 0%);
    --branco: hsl(15, 100%, 99%);

    --linkNavbarWeight: 700;
    --textoTituloTamanho: 3rem;
    --textoTituloWeight: 700;
    --textoSubtituloWeight: 600;
    --textoPTamanho: 1.4rem;
    --textoPWeight: 500;
}

button{
    cursor: pointer;
}

input, button{
    border: none;
}

input, button, body{
    font-family: 'Elms Sans', Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.textoTitulo{
    font-size: var(--textoTituloTamanho);
    font-weight: var(--textoTituloWeight);
    color: var(--branco);
}
.textoP{
    font-size: var(--textoPTamanho);
    font-weight: var(--textoPWeight);
    color: var(--branco);
}

body{
    padding-top: 64px;
    overflow-x: hidden;
}


header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.navbarr > ul {
    background: var(--corBase);
    padding: .6em 11em;
    display: flex;
    justify-content: space-between;

    .navbarParteEsquerda,.navbarParteDireita{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbarParteEsquerda{
        gap: 1.5em;
    }
    
    .navbarParteDireita{
        gap: 1em;
    }

    .linkNavbar{
        font-weight: var(--linkNavbarWeight);
        font-size: 1.2rem;
        color: var(--preto);
    }

    .btnNavbar{
        font-size: 1.2rem;
        font-weight: var(--linkNavbarWeight);
        padding: .3em .7em; 
        border-radius: .3em;
        display: flex;
        align-items: center;

        svg{
            fill: var(--preto);
        }
    }

    .btnAvalieNos{
        background: var(--corBase3);
    }

}



.divImgSecaoPrincipal{
    width: 100%;
    height: 800px;
    background: url(../images/sandwich-1920-x-1200-picture-sw2gb5dod8me22mo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    .transparenteImgSecaoPrincipal{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.82));
    }

    .textosImgSecaoPrincipal{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2em;

        .textoTituloPrincipal{
            width: 42%;
            text-align: center;
            font-size: 4.2rem;
            font-weight: 800;
            color: var(--branco);
        }

        .textoSlogan{
            font-size: var(--textoPTamanho);
            font-weight: var(--textoPWeight);
            color: var(--branco);
        }
    }
}


.divImgSecaoCalculo{
    width: 100%;
    height: 620px;
    background: url(../images/fritas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .transparenteImgSecaoCalculo{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: linear-gradient(to top, hsla(from var(--preto) h s l / 0.2), hsla(from var(--preto) h s l / 0.8));
    }

    .textosImgSecaoCalculo{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;

        .textoPSecaoCalculo{
            text-align: center;
            width: 26%;
        }

        .btnIrParaCardapio{
            font-size: 1.2rem;
            font-weight: 500;
            padding: .5em .7em;
            border-radius: .3em;
            background: var(--corBase);
            color: var(--branco);
        }
    }
}


.secaoPromocoes{
    background: url(../images/fundoBurger_ed.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 1px solid hsl(from var(--preto) h s calc(l + 21));
    border-bottom: 1px solid hsl(from var(--preto) h s calc(l + 21));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12em 0;
    gap: 20em;

    .divVideoBarra{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .divVideoBarra2{
        box-shadow: 0 20px 20px 10px hsla(from var(--preto) h s l / 0.5);
    }

    .centroSecaoPromocoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        .cardsPromocoes{
            display: flex;
            gap: 1em;

            .card{
                background: hsl(from var(--preto) h s calc(l + 15));
                border: 1px solid hsl(from var(--preto) h s calc(l + 25));
                color: var(--branco);

                .card-title{
                    font-size: 1.4rem;
                    font-weight: var(--textoSubtituloWeight);
                }
                .card-text{
                    font-size: 1.2rem;
                }

                .list-group-item{
                    display: flex;
                    justify-content: space-between;
                    background: hsl(from var(--preto) h s calc(l + 15));

                    .textoDesconto{
                        color: var(--corBase);
                    }

                    p{
                        margin-bottom: 0;
                    }
                }
            }

            .imgCardPromocoes{
                height: 230px;
            }
        }

        .btnSaibaMaisPromocoesManeiras{
            font-size: 1.3rem;
            border-radius: .3em;
            padding: .3em .7em;
            background: hsl(from var(--corBase) h s l);
            color: var(--branco);
        }

        .textoPromocoesManeiras{
            color: var(--corBase3);
            text-shadow: 0 0 15px hsl(from var(--corBase3) h s l / 0.9);
            text-align: center;
        }
    }
}




footer{
    background: var(--corFundoRodape);
    padding: 3.2em 11.5em;
    display: flex;
    flex-direction: column;
    gap: 3.5em;

    .rodapeParteCima{
        display: flex;
        justify-content: space-between;

        .rodapeTudoLogo{
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            .linhaLogoRodape{
                width: 100%;
                border: 1px solid hsl(from var(--corBase2) h s calc(l - 23));
            }
        }

        .divRodapeLinks{
            display: flex;
            flex-direction: column;

            .divConsertarTamanhoLink{
                width: fit-content;
            }
        }

    }

    .textoH6Rodape{
        font-weight: 600;
    }
    
    p, a, .textoH6Rodape{
        color: hsl(from var(--corBase) h s calc(l + 10));
        font-size: 1.3rem;
    }

    .rodapeParteBaixo{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .inputEBotaoAgrupados{
            display: flex;
            font-size: var(--textoPTamanho);
        }

        .inputNewsletterRodape{
            background: hsl(from var(--corBase2) h s calc(l - 22));
            color: var(--branco);
            border-top-left-radius: .3em;
            border-bottom-left-radius: .3em;
            font-weight: var(--textoPWeight);
            outline: none;
            padding: .2em .5em;
        }
        .inputNewsletterRodape::placeholder{
            color: hsl(from var(--corBase2) h s calc(l - 40));
        }

        .btnNewsletterRodape{
            background: var(--corBase3);
            border-top-right-radius: .3em;
            border-bottom-right-radius: .3em;
            width: 45px;

            svg{
                fill: var(--preto);
            }
        }

        .btnSvgSocial{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: var(--corBase);
            transition: .3s;

            path, svg, rect {
                fill: var(--branco);
                transition: .1s;
            }
        }
        .btnSvgSocial:hover{
            background: var(--branco);

            path, svg, rect {
                fill: var(--corBase);
            }
        }
    }

}